<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url "store:index" %}">DJ Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url "store:index" %}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url "store:search" %}">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "store:about" %}">About</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url "store:logout" %}">Logout</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item"><a class="nav-link" href="{% url "store:user_configuration" %}">Your Profile</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li class="nav-item"><a class="nav-link" href="{% url "store:info_configuration" %}">Your Info</a></li>
                        </ul>
                    </li>

                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item"><a class="nav-link" href="{% url "payment:shipped_dashboard" %}">Shipped Orders</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li class="nav-item"><a class="nav-link" href="{% url "payment:not_shipped_dashboard" %}">UnShipped Orders</a></li>
                        </ul>
                    </li>
                    {% endif %}


                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "store:login" %}">Login</a></li>

                    <li class="nav-item"><a class="nav-link" href="{% url "store:register" %}">Register</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url "store:index" %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" >
                                Programming Course
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'store:category' "Programming-Course" %}">All Programming Course</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'store:subcategory' "Python" %}">Python</a></li>
                                <li><a class="dropdown-item" href="{% url 'store:subcategory' "Java" %}">Java</a></li>
                                <li><a class="dropdown-item" href="{% url 'store:subcategory' "JavaScript" %}">JavaScript</a></li>
                            </ul>
                        </li>
                            
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" >
                                Laptop
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'store:category' "Laptop" %}">All Laptop's</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'store:subcategory' "Acer" %}">Acer</a></li>
                                <li><a class="dropdown-item" href="{% url 'store:subcategory' "Lenovo" %}">Lenovo</a></li>
                            </ul>
                        
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <a href="{% url "cart:cart" %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">
                        {{ cart|length }}
                    </span>
                </a>
            </form>
        </div>
    </div>
</nav>