{% extends "base.html" %}

{% load static %}

{% block title %}
    about us
{% endblock title %}

{% block content %}

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About us</h1>
                <p class="lead fw-normal text-white-50 mb-0">
                    Welcome to Django marketplace
                </p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row"><center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aliquam, rem consequatur in dolore dolorum veniam similique culpa hic, illo quas aut nam. Perferendis ex possimus obcaecati aliquid quas vitae.<br>
                </p>
            </div>
        </center>

        </div>
    </div>
    
{% endblock content %}